/* Estilos para el formulario */
form {
    width: 80%;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    display: block;
    margin: 20px auto;
  }
  
  /* Estilos para el resultado */
  #resultado {
    width: 80%;
    margin: 0 auto;
  }
  
  /* Agrega más estilos según sea necesario */
  